/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.part {
  padding: 35px 0;
}

.first, .second {
  padding: 35px;
}

.second {
  background-color: #15172B;
}

.second label {
  color: #DC2E55;
}

.second button {
  background: #0088DD;
  border: none;
  color: white;
  font-family: serif;
  border-radius: 8px;
  padding: 10px 100px;
}

.background-form {
  background: #303245;
  border-radius: 10px;
  padding: 15px;
  border: none;
  color: #65657A;
  font-family: serif;
}

.third {
  padding: 35px;
}

.background-form3 {
  padding: 10px;
  border: #bababa solid 1px;
  border-radius: 3px;
}

/*Changer l'icone*/
.radio-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #15172B;
  margin-right: 10px;
  border:  #303245 solid 1px;
}

input:checked + .radio-placeholder {
  background: rgb(128, 0, 255);
}

.radio-icone input {
	display: none;
}


.check-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #15172B;
  margin-right: 10px;
  border:  #303245 solid 1px;
}

input:checked + .check-placeholder {
  background: rgb(128, 0, 255);
}

.check-icone input {
	display: none;
}


.radio-placeholder2 {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #ffffff;
  margin-right: 10px;
  border:  #F44335 solid 4px;
}

input:checked + .radio-placeholder2 {
  background: #F44335;
  border: white solid 2px;
}

.radio-icone input {
	display: none;
}

/*Changer checkbox*/

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: #f4423583;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #F44335;
  margin-top: -3px;
  transition: margin 0.5s;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 14px;
}

.switch input {
  display: none;
}

/*Changer text*/

.textfield {
  position: relative;
}

.textfield label {
  position: absolute;
  top: 1px;
  left: 10px;
}

input:focus + label {
  transform: translateY(-18px) scale(0.7);
}

.textfield label {
  position: absolute;
  top: 44px;
  left: 10px;
  pointer-events: none;
  background: white; 
  transition: transform 0.3s; 
  transform-origin: left;
  padding: 0 5px;
}

.textfield input:hover {
  border: #000000 solid 1px;
}

.textfield input:focus {
  border: rgb(0, 0, 0) solid 2px;
}