/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.part {
  padding: 35px 0;
}

.first, .second {
  padding: 35px;
}

.second {
  background-color: #15172B;
}

.second label {
  color: #DC2E55;
}

.second button {
  background: #0088DD;
  border: none;
  color: white;
  font-family: serif;
  border-radius: 8px;
  padding: 10px 100px;
}

.background-form {
  background: #303245;
  border-radius: 10px;
  padding: 15px;
  border: none;
  color: #65657A;
  font-family: serif;
}

.third {
  padding: 35px;
}

.background-form3 {
  padding: 10px;
  border: #bababa solid 1px;
  border-radius: 3px;
}

/*Changer l'icone*/
.radio-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #15172B;
  margin-right: 10px;
  border:  #303245 solid 1px;
}

input:checked + .radio-placeholder {
  background: rgb(128, 0, 255);
}

.radio-icone input {
	display: none;
}


.check-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #15172B;
  margin-right: 10px;
  border:  #303245 solid 1px;
}

input:checked + .check-placeholder {
  background: rgb(128, 0, 255);
}

.check-icone input {
	display: none;
}

/*Changer checkbox*/

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background: orange;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: red;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

.switch input {
  display: none;
}